form {
  width: 380px;
  height: 550px;
  /* box-shadow: 0 0 40px 20px rgba(129, 123, 123, 0.26); */
  margin-left: 100px;
  margin-top: 40px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(167, 167, 169, 0.8), rgba(131, 131, 181, 0.8)),
    url(../../../assets/cardbackground.jpg);
  /* padding: 55px; */
  box-sizing: border-box;
  border-radius: 10px;
}

.account {
  padding-top: 15px;
  color: #c2f0ea;
}