html,
body {
  height: 100%;
}

body>.home {
  height: auto;
  min-height: 100%;
}

.home {
  background-image: url("../../assets/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.items {
  padding-bottom: 50px;
}

.slider {
  margin-top: 150px;
  margin-bottom: 50px;
}

.images {
  display: flex;
}

.images img:hover {
  cursor: pointer;
}

.html,
.css,
.brush {
  width: 500px;
  height: 350px;
  margin: auto;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #c7c7c7,
    -5px -5px 10px #f9f9f9;
}

.advertising{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.advertising img{
  width: 300px;
  height: 100%;
  /* margin: 10px; */
  border-radius: 20px;
  box-shadow: 5px 5px 10px #c7c7c7,
  -5px -5px 10px #f9f9f9;
  padding: 5px;
}

.advBottom img{
  width: 99rem;
  height: 20rem;
  margin-top: 20px;
  border-radius: 20px;
}